---
import Layout from '@layouts/layout.astro';
import { getCollection } from 'astro:content';
import { compareDesc } from 'date-fns';
const blogPosts = await getCollection('blog');
console.log(blogPosts);
const sortedBlogPosts = blogPosts.sort((a, b) =>
		compareDesc(a.data.pubDate, b.data.pubDate)
	);

console.log(sortedBlogPosts);
---
<Layout pageTitle="Blog Posts" description="ブログの記事一覧">
    <h1>Tech Flow</h1>
    <div>
		{ sortedBlogPosts.map((post) => {
            return (
                <article>
                    <a href={"/blog/$(post.slug}"}>{post.data.title}</a>
                </article>
            );
			})
		}
	</div>
</Layout>
