  <footer>
        <ul>
            <li>
                <a href="/">twitter</a>
            </li>
            <li>
                <a href="/">github</a>
            </li>
        </ul>
    </footer>
